@tailwind base;

@tailwind components;

/* title */
h1 {
  @apply text-3xl font-semibold text-gray-800;
}

/* subtitle */
h3 {
  @apply text-xl text-gray-600;
}

/* list */
ul {
  @apply list-disc text-xl text-gray-800 ml-8 mb-4;
}

/* regular paragraph */
p {
  @apply text-xl text-gray-800 mb-4;
}

hr {
  border-top-width: 0;
}

@tailwind utilities;

hr, .lesson-divider {
  @apply bg-gray-200 mt-6 mb-8;
  height: 2px;
}

.btn-teal {
  @apply flex-shrink-0 bg-teal-500 border-teal-500 text-sm border-4 text-white py-1 px-2 mx-2 rounded;
}

.btn-teal:hover {
  @apply bg-teal-700 border-teal-700
}

.form-field {
  @apply appearance-none bg-gray-200 text-gray-700 rounded p-2 leading-tight
}

.form-field:focus {
  @apply outline-none
}

.pell {
  border: 1px solid rgba(10, 10, 10, 0.1);
  box-sizing: border-box;
}

.editor-content {
  box-sizing: border-box;
  height: auto;
  outline: 0;
  overflow-y: auto;
  padding: 10px;
}

.pell-actionbar {
  background-color: #FFF;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}

.pell-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: 0;
  width: 30px;
  vertical-align: bottom;
}

.pell-button-selected {
  background-color: #F0F0F0;
}
