.audio-player {
  height: auto;
  background-size: contain;
  display: inline-flex !important;
  flex-direction: row !important;
  justify-content: center;
  width: max-content !important;
}

@tailwind base;

@tailwind components;

h1 {
  @apply text-3xl font-semibold text-gray-800;
}
body {
  background-color: #f7fafc;
}

@tailwind utilities;

/* @import 'lesson.css'; */

hr, .lesson-divider {
  @apply bg-gray-200 mt-6 mb-8;
  height: 2px;
}

.btn-teal {
  @apply flex-shrink-0 bg-teal-500 border-teal-500 text-sm border-4 text-white py-1 px-2 rounded;
}

.btn-teal:hover {
  @apply bg-teal-700 border-teal-700;
}

.form-field {
  @apply appearance-none bg-gray-200 text-gray-700 rounded p-2 leading-tight;
}

.form-field:focus {
  @apply outline-none;
}

.editor {
  @apply bg-white shadow-sm rounded px-12 pt-6 pb-8 mb-4;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: inherit;
  margin: 0;
}


/* title */
.ce-block__content h1 {
  @apply text-3xl font-semibold text-gray-800;
}

/* subtitle */
.ce-block__content h3 {
  @apply text-xl text-gray-600 border-b-2 border-gray-200 mb-5 pb-2;
}

/* list */
.ce-block__content ul {
  @apply list-disc text-xl text-gray-800 ml-8 mb-4;
}

/* regular paragraph */
.ce-paragraph {
  @apply text-xl text-gray-800 mb-4;
}


/* Lesson styles */

/* title */
.jsx-parser h1 {
  @apply text-3xl font-semibold text-gray-800;
}

/* subtitle */
.jsx-parser h3 {
  @apply text-xl text-gray-600 border-b-2 border-gray-200 mb-5 pb-2;
}

/* list */
.jsx-parser ul {
  @apply list-disc text-xl text-gray-800 ml-8 mb-4;
}

/* regular paragraph */
.jsx-parser p {
  @apply text-xl text-gray-800 mb-4;
}

.note p {
  @apply text-base text-gray-800;
}

